<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1488610883421-64eb350d7f12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1089&q=80);">
  <div class="container">
  <h1>Vintago.</h1>
  <p>Change your life, drive classic.</p>
  <%= simple_form_for :search, url: cars_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Berlin, Hamburg" />
      <button name="button" type="submit" class="btn btn-danger">
      <i class="fas fa-search"></i> Search
      </button>
    </div>

  <% end %>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-4">
      <ul>
        <li><i class="fas fa-search-location fa-4x mb-3 mt-3"></i>
          <h2>Find a car</h2>
          <p>In 3 easy steps you can find your dream car all over Europe among the largest selection in Europe</p>
        </li>
      </div>
      <div class="col-4">
        <li><i class="fas fa-car fa-4x mb-3 mt-3"></i>
          <h2>Book your car</h2>
          <p>Register today and get a quotation. You can book a car online is less than 5 min. Start browsing now to find your dream car! </p>
        </li>
      </div>
      <div class="col-4">
        <li><i class="fas fa-magic fa-4x mb-3 mt-3"></i>
          <h2>Our Services</h2>
          <p>Wheter you need a car for one hour, one day, with a driver or for a specific event, our team is here to help you find the best car</p>
        </li>
    </ul>
  </div>
</div>


  <!-- <div class="row mt-5" >
    <div class="red" >
    <h2>VINTAGO FOR OWNERS</h2>
    <div class="col-12">
      <i class="fas fa-search-location fa-5x mb-3"></i>
      <p>Vintago provides a wide range of services to make sure you have the best
        All our renters are approved and have a verified ID and driving license.
        We have also developed, in partnership with the main classic car insurance companies, a complete and full insurance coverage. You will be fully covered and won’t have to worry in case of any issues, we will take care of everything.
        You also have the flexibility to have your car rented with a driver and cleaned by a professional company once the car is returned to you.
      </p>
    </div>
  </div>
    <div class="row">
    <div class="col-12">
      <h2>VINTAGO FOR RENTERS</h2>
      <i class="fas fa-search-location fa-5x mb-3"></i>
      <p>Vintago provides the widest range of classic cars for rent on the market. We have a network of passionate owners we take a great car of their car and we provide a complete service for your peace of mind.
      Whether it is for a wedding, an anniversary or just because you want to treat yourself well with an amazing classic car, Vintago is the place to be.
      Besides that, we provide a wide range of insurance and services for your peace of mind. You can even rent the car with a driver or have it delivered to your home directly.
      </p>
    </div>
    </div>

