<div class="container">
  <br>
  <div>
    <h2>Welcome to your user profile <%= @user.first_name %></h2>
    <br>
    <h3>My Details</h3>
    <div class="container mt-3">
      <ul>
        <li><i class="fas fa-user-friends"></i> <%= @user.user_name %></li>
        <li><i class="fas fa-envelope-open-text"></i> <%= @user.email %></li>
      </ul>
    </div>
</div>
